{% extends "base.html" %}

{% block header %}
{% if is_authenticated %}
{% include 'components/navbar.html' %}
{% else %}
{% include 'components/login_header.html' %}
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered" style="text-align: center">
        <h2 style="text-align: center">About POWON</h2>
        <div class='row display-info-box'>
            <h4 style="font-weight:bold">POWON is a group project developed for a Concordia databases course.</h4>
            <br>
            <div class = "col-md-6">
            <p style="font-weight:bold">Backend technologies and development tools:
                <p>MySQL<br>
                PHP<br>
                <a href="http://www.slimframework.com/" class="normal-link">Slim</a> (PHP microframework)<br>
                <a href="https://phpunit.de/" class="normal-link">PHPUnit</a><br>
                <a href="https://getcomposer.org/" class="normal-link">Composer</a><br>
                Source code hosted on <a href="https://github.com/avengers5531/db_powon">GitHub</a><br/>
            </p>
            </div>
            <div class = "col-md-6">
            <p style="font-weight:bold">Frontend technologies:
                <p>HTML/CSS<br>
                <a href="http://jquery.com" class="normal-link">JQuery</a><br>
                <a href="http://twig.sensiolabs.org/" class="normal-link">Twig</a> (PHP template engine)<br>
                <a href="http://getbootstrap.com" class="normal-link">Bootstrap</a><br>
            </p>
            </div>
            <br>
            <div class="col-md-12">
            <h4 style="font-weight:bold; text-align: center">Acknowledgements</h4>
            <p>Thanks to Professor Jababo and our TA Meghrig Terzian!</p>
            <br>
            <h4 style="font-weight:bold">5531 Group 3</h4>
            <p>Srikanth Tadisetty<br>
                Dana Short<br>
                Amit Hotchandani Dayaram<br>
                Devang Patel<br>
                Daniel Thagard
            </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
