<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ 'POWON - ' ~ title|default('Private Online What\'s On Now?') }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href= "/assets/css/style.css" type="text/css"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" defer></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
  {% endblock %}
</head>
<body>
  {% block header %}
  {% endblock %}
  {% if current_member and current_member.getStatus() == 'I'%}
    <div class="fixed-info-box alert alert-danger" >Your status is Inactive.</div>
  {% endif %}
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>
  {% block footer %}
    {% include 'components/footer.html' %}
  {% endblock %}
</body>
</html>
