{% extends "base.html" %}

{% block header %}
{% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
{% if update_success %}
<div class="alert alert-success">
    <h4>{{ update_message }}
        <a href="{{ path_for('profile', {'username' : member.getUsername()}) }}">
            Return to Profile. </a>
    </h4>
</div>
{% endif %}
<h1 class="text-center">Update {{ member.getUsername() }}'s Profile</h1>
<div class="container">
    <div class = "col-lg-6">
            <br> </br>
            <img src="{{ member.getProfilePic() }}" alt="Profile Pic"
                 width="300" height="200">
        <br></br>
            <a class="btn btn-default" data-toggle="modal" data-target="#profilePicModal">Update Profile Picture</a>
                {% include 'components/profile_update_form_admin.html' %}
    </div>
    </div>
    <div class = "col-lg-6">
        <h2>User Updates</h2>
        {% include 'components/profile_update_form.html' %}
    </div>
</div>


<!-- Profile pic modal -->
<div class="modal fade" id="profilePicModal" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload Your Profile Picture</h4>
        </div>
        <div class="modal-body">
            <form action="{{ path_for('member_pic_update', {'username' : member.getUsername()}) }}"
                  method="post" enctype="multipart/form-data">
                Select image to upload:
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Upload Image" name="submit">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

{% endblock %}
