<html lang=en>
  <head>
    <meta charset="utf-8">
    <title>POWON - Private Online What's On Now?</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href= "/assets/css/style.css" type="text/css">
  </head>
  <body>
    <!-- Purple section at top of page -->
    <div id="purple-top">
      <div class="container" id="top-container">
        <div class="row">
          <div class="col-sm-2">
            <img class="img-circle" alt="The mighty POWON fish"
                src="/assets/images/fish.jpg"height="100" width="100">
          </div>
          <div class="col-sm-4">
            <h1 id="title" class="white-text">POWON<h1>
            <h4 class="white-text">Private Online What's On Now</h4>
          </div>
          <div class="col-sm-6">
            <form id="login-form" class="form-vertical">
              <div class="form-group">
                <input type="text" id="username" name="username"
                  class="form-control" placeholder="Enter username">
              </div>
              <div class="form-group">
                <input type="password" id="password" name="password"
                  class="form-control" placeholder="Enter password">
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <input type="submit" value="Log In">
                </div>
                <div class="col-sm-6">
                  <div class="checkbox">
                    <label class="white-text"><input type="checkbox"> Remember me</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="container">
      <h1>Coming soon...</h1>
      <p> The latest posts from your friend, the almighty admistrator...</p>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
