{% extends "base.html" %}

{% block header %}
  {% if is_authenticated %}
    {% include 'components/navbar.html' %}
  {% else %}
    {% include 'components/login_header.html' %}
  {% endif %}
{% endblock %}

{% block content %}
<div class = <container">
  <div class="row">
    <div class="col-md-12 jumbotron">

  <h1>Public posts</h1>
  <p> The latest posts from your friend, the almighty administrator...</p>
    <div class="col-md-8">
      {% include './components/post_list_view.html' %}
    </div>
  </div>
</div>
</div>
{% endblock %}
