{% extends "base.html" %}
{# UI to manage a group page access.
Variables:
current_member: Member entity,
current_group: Group,
page: GroupPage entity: the current page
group_members: [Member] List Of group members
members_with_access: dictionary: [(member_id) int/string => (access) bool]
#}

{% block header %}
  {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
  <div class="container col-lg-12">
    <div class="row">
      <div class="col-md-12">
        {% include 'components/group_profile.html' with { 'group' : current_group, 'is_thumbnail' : true } %}
      </div>
    </div>
    <h3 class="text-center">Manage Page Access</h3>
    {% include 'components/notification_message.html' %}
    <div class="display-info-box">
      <h3>Provide access</h3>
      <form action="{{ path_for('manage-page-access-post', { 'group_id': current_group.getGroupId(), 'page_id': page.getPageId() }) }}" method="post">
        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" name="{{ constant('Powon\\Services\\GroupPageService::FIELD_ACCESS') }}" id="inlineRadio1"
                   value="{{ constant('Powon\\Entity\\GroupPage::ACCESS_EVERYONE') }}"> Everyone
          </label>
          <label class="radio-inline">
            <input type="radio" name="{{ constant('Powon\\Services\\GroupPageService::FIELD_ACCESS') }}" id="inlineRadio2"
                   value="{{ constant('Powon\\Entity\\GroupPage::ACCESS_PRIVATE') }}"> 2
          </label>
        </div>
        {%
        include 'components/table_manage_members.html' with
        {
          'members' : group_members,
          'members_selected': members_with_access,
          'action_name': 'Provide access'
        }
        %}
        <button type="submit" class="btn btn-default">Okay</button>
      </form>
    </div>
  </div>
{% endblock %}

