{% extends "base.html" %}

{% block header %}
  {% if is_authenticated %}
    {% include 'components/navbar.html' %}
  {% else %}
    {% include 'components/login_header.html' %}
  {% endif %}
{% endblock %}

{% block content %}
  <!-- Edit options if member is on their own home page -->
  {% if on_own_profile %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 alert alert-success">
        <h6>Welcome home<h6>
      </div>
      <div class="col-sm-6">
        <a href="{{ path_for('member_update', {'username' : current_member.getUsername()}) }}">
          Edit Profile</a>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Main profile page content begins here -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <!-- Placeholder for profile picure -->
        <img src="/assets/images/clownfish.jpg" alt="Profile Picture"
            height="100px" width="100px">
      </div>
      <div class="col-sm-8">
        <h1>{{ member.getUsername() }}</h1>
        <h6>{{ member.getFirstName()}} {{ member.getLastName()}}</h6>
        <p>Email: {{ member.getUserEmail() }} </p>
        <p>Date of Birth: {{ member.getDateOfBirth() }}</p>
      </div>
    </div>
  </div>
{% endblock %}
