{% extends "base.html" %}

{% block header %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <h1>Respond to your requests</h1>
  {% if pending_reqs %}
  {% for req in pending_reqs %}
  <div class="display-info-box">
    <div class="row">
      <div class="col-sm-2">
        <img class="img-responsiv img-thumbnail" src="{{ req.getProfilePic() }}" alt="profile pic">
      </div>
      <div class="col-sm-3">
        <h4>  {{ req.getUsername() }} </h4>
        <p> {{ req.getFirstName() }} {{ req.getLastName() }} </p>
      </div>
      <div class="col-sm-3">
        <p> {{ req.getRelationType() }} </p>
      </div>
      <div class="col-sm-1">
        <form action="{{ path_for('confirmRel', {'username':req.getUsername()}) }}"
              method="post">
          <button class="btn btn-primary" type="submit" name="confirm">Confirm</button>
        </form>
      </div>
      <div class="col-sm-1">
        <form action="{{ path_for('deleteRel', {'username':req.getUsername()}) }}"
              method="post">
          <button class="btn btn-default" type="submit" name="delte">Delete Request</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="display-info-box">
    <p class="text-center">You have no pending requests</p>
  </div>
  {% endif %}
</div>
{% endblock %}
