{% extends "base.html" %}
{% block head %}
{{ parent() }}
<script src="/assets/js/getInvoiceId.js" defer></script>
{% endblock %}
{% block header %}
{% if is_authenticated %}
{% include 'components/navbar.html' %}
{% else %}
{% include 'components/login_header.html' %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container col-lg-12">
<h1>My invoices</h1>
{% if invoices|length > 0 %}
<table class="table">
    <thead>
    <tr>
        <th>Invoice Id</th>
        <th>Amount Due</th>
        <th>Due Date</th>
        <th>Billing Period Start</th>
        <th>Billing Period End</th>
        <th>Date Paid</th>
    </tr>
    </thead>
    {% for invoice in invoices %}
    <tr class="{{ cycle(['','pure-table-odd'] , loop.index) }}">
        <td>{{ invoice.getInvoiceId() }}</td>
        <td>{{ invoice.getAmountDue() }}</td>
        <td>{{ invoice.getPaymentDeadline() }}</td>
        <td>{{ invoice.getBillingStart() }} </td>
        <td>{{ invoice.getBillingEnd() }} </td>

        {% if invoice.getDatePaid() == NULL %}
        <td><a data-toggle="modal" data-id="{{ invoice.getInvoiceId() }}" title="Confirm Payment" class="open-confirmPaymentModal btn btn-warning" href="#confirmPaymentModal">Make Payment</a></td>
        {% else %}
        <td>{{ invoice.getDatePaid() }} </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You don't have any invoices!</p>
{% endif %}
</div>

<!-- Modal for Payment -->
<div class="modal fade" id="confirmPaymentModal" tabindex="-1" role="dialog" aria-labelledby="modalPaymentTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDeleteTitle">Confirm Payment</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to complete this payment?</p>
            </div>
            <div class="modal-footer">
                    <form id="search" action="/members/{{ current_member.getUsername() }}/invoice-payment/" method="post">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                        <input type="hidden" name="username" value="{{ member.getUsername() }}"/>
                        <input type="hidden" id="invoice_id" value=""/>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- End Modal Payment -->

{% endblock %}