{#
Variables:
current_member: The currently logged in member
member: The member's password to update
post_error_message: string
#}
{% extends 'base.html' %}

{%block header %}
  {% include 'components/navbar.html' %}
{% endblock header %}

{% block content %}
<div class="row">
  <div class="display-info-box col-lg-8">
    <h2>Change password for {{member.getUsername()}}</h2>
    <form method="post" action="{{ path_for('member_password_update_post', { username: member.getUsername() } ) }}" autocomplete="off">
      {% include 'components/notification_message.html' %}
      <div class="form-group">
        <label for="new_password_1">New Password</label>
        <input type="password" class="form-control" id="new_password_1" placeholder="Enter your new password here"
               name="{{ constant('Powon\\Services\\MemberService::FIELD_PASSWORD1') }}" />
      </div>
      <div class="form-group">
        <label for="new_password_2">Confirm new password</label>
        <input type="password" class="form-control" id="new_password_2" placeholder="Confirm the new password"
               name="{{ constant('Powon\\Services\\MemberService::FIELD_PASSWORD2') }}" />
      </div>
      <div class="h-divider"></div>
      {% if current_member.getMemberId() == member.getMemberId() %}
      {# routes check if member is not admin, they cannot modify another user's password! #}
      <div class="form-group">
        <label for="old_password">Old password</label>
        <input type="password" class="form-control" id="old_password" placeholder="Enter the old password here"
               name="{{ constant('Powon\\Services\\MemberService::FIELD_PASSWORD') }}" />
      </div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
  </div>
</div>
{% endblock content %}
