{#
Variables:
either:
memberPage: Member
or:
groupPage: GroupPage
and group: Group

post : Post entity: the main post
can_edit: bool: main post can be edited
comments: All the comments. [Post]
comments_can_edit: [ key: post_id, value: bool]
#}
{% extends 'base.html' %}
{% block header %}
  {% include './components/navbar.html' %}
{% endblock header %}
{% block content %}
<section class="row">
  {% if memberPage %}
    <h3>
      <a href="{{ path_for('profile', {'username': membersPage.getUsername()}) }}">
        {{ membersPage.getFirstName() ~ ' ' ~ membersPage.getLastName() }}
      </a>
    </h3>
  {% elseif groupPage %}
    <h3>
      <a href="{{ path_for('view-group', {'group_id' : group.getGroupId()}) }}">{{ group.getGroupTitle() }}</a>
      &rsaquo;
      <a href="{{ path_for('view-group-page', {'page_id' : groupPage.getPageId()}) }}">{{ groupPage.getPageTitle() }}</a>
    </h3>
  {% endif %}
</section>
<section class="row">
  {# main post #}
  <div class="col-md-12">
    <div class="display-info-box bg-light-purple">
      {% include './components/post_view.html' with {'post': post, 'can_edit': can_edit} only %}
    </div>
  </div>
</section>
<div class="h-divider"></div>
<section class="row">
  <h4>Comments</h4>
  {% if comments|length > 0 %}
    {% for comment in comments %}
      <div class="bg-light-grey">
        {% include './components/post_view.html' with {'post' : comment, 'can_edit': comments_can_edit[comment.getPostId()]} %}
      </div>
    {% endfor %}
  {% else %}
    <p>There are no comments to display</p>
  {% endif %}
</section>
{% set can_comment = post.getCommentPermission() == constant('Powon\\Entity\\Post::PERMISSION_ADD_CONTENT') or
post.getCommentPermission() == constant('Powon\\Entity\\Post::PERMISSION_COMMENT') %}
{% set can_add_content = post.getCommentPermission() == constant('Powon\\Entity\\Post::PERMISSION_ADD_CONTENT') %}
{% if can_comment or can_add_content %}
  <div class="h-divider"></div>
<section class="row">
  <h4>Add a comment</h4>
  <div class="display-info-box">
    {% include './components/post_form.html' with {'can_add_content' : can_add_content, 'mode': 'create'} only %}
  </div>
</section>
{% endif %}
{% endblock content %}
