{#
Variables:
either:
membersPage: Member
or:
groupPage: GroupPage
and group: Group

post : Post entity: the main post
can_edit: bool: main post can be edited
comments: All the comments. [Post]
posts_can_edit: [ key: post_id, value: bool] '
#}

<section class="row">
  {% if memberPage %}
    <h3>
      <a href="{{ path_for('profile', {'username': membersPage.getUsername())}) }}">
        {{ membersPage.getFirstName() ~ ' ' ~ membersPage.getLastName() }}
      </a>
    </h3>
  {% elsif groupPage %}
    <h3>
      <a href="{{ path_for('view-group', {'group_id' : group.getGroupId()}) }}">{{ group.getGroupTitle() }}</a>
      &rsaquo;
      <a href="{{ path_for('view-group-page', {'page_id' : groupPage.getPageId()}) }}">{{ groupPage.getPageTitle() }}</a>
    </h3>
  {% endif %}
</section>
<section>
  {# main post #}
  <div class="col-md-8">
    {% include './components/post_view.html' with {'post': post}%}
  </div>
</section>
<section>
  {% if comments|length > 0 %}
    {% for comment in comments %}
      <div class="bg-light-grey">
        {% include './components/post_view.html' with {'post' : comment } %}
      </div>
    {% endfor %}
  {% else %}
    <p>There are no comments to display</p>
  {% endif %}
</section>

