{% extends "base.html" %}

{% block header %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
  {% if update_success %}
    <div class="alert alert-success">
      <h4>{{ update_message }}
        <a href="{{ path_for('profile', {'username' : current_member.getUsername()}) }}">
          Return to Profile. </a>
      </h4>
    </div>
  {% endif %}
  <h1 class="text-center">Update Your Profile</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="display-info-box">
          <img class="img-responsive img-thumbnail"
                src="{{ current_member.getProfilePic() }}" alt="Profile Pic"
                width="300" height="200"> </br>
          <a class="btn btn-default" data-toggle="modal" data-target="#profilePicModal">
            Update Profile Picture</a>
        </div>
        <!-- Profile pic modal -->
        {% include "components/profile_pic_update.html" %}
      </div>
      <div class="col-sm-6">
        {% include 'components/profile_update_form.html' %}
      </div>
    </div>
  </div>
{% endblock %}
