{% extends "base.html" %}
{% block head %}
  {{ parent() }}
  <script src="/assets/js/check-button.js" defer></script>
{% endblock %}
{% block header %}
  {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
  {% if update_success %}
    <div class="alert alert-success">
      <h4>{{ update_message }}
        <a href="{{ path_for('profile', {'username' : current_member.getUsername()}) }}">
          Return to Profile. </a>
      </h4>
    </div>
  {% endif %}
  <h1 class="text-center">Update Your Profile</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="display-info-box update-box"
             data-toggle="modal" data-target="#profilePicModal">
          <h4>Profile Picture</h4>
          <img class="img-responsive img-thumbnail"
                src="{{ current_member.getProfilePic() }}" alt="Profile Pic"
                width="300" height="200"> </br>
        </div>
        <!-- Profile pic modal -->
        {% include "components/profile_pic_update.html" %}
        <div class="display-info-box">
            {% include 'components/edit-wishlist.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="display-info-box col-lg-8 update-box center-block"
               data-toggle="modal" data-target="#profileCoreModal">
            <h4>Personal Information</h4>
          </div>
          {% include 'components/update_profile_core.html' %}
          <div class="display-info-box col-lg-8 update-box center-block"
               data-toggle="modal" data-target="#profileInterestModal">
            <h4>Interests</h4>
          </div>
          {% include 'components/update_profile_interests.html' %}
          <div class="display-info-box col-lg-8 update-box center-block"
               data-toggle="modal" data-target="#profileProfessionModal">
            <h4>Professions</h4>
          </div>
          {% include 'components/update_profile_professions.html' %}
          <div class="display-info-box col-lg-8 update-box center-block"
               data-toggle="modal" data-target="#profileRegionModal">
            <h4>Regions</h4>
          </div>
          {% include 'components/update_profile_regions.html' %}
          <div class="display-info-box col-lg-8 update-box center-block"
               data-toggle="modal" data-target="#profilePermissionModal">
            <h4>Access permissions</h4>
          </div>
          {% include 'components/update_profile_permissions.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
