{% extends "base.html" %}
{# Page that contains a group.
Variables:
current_member: Member entity,
current_group: Group,
member_belongs_to_group: bool,
member_waiting_for_approval: bool,
pages, [GroupPage],
group_members, [Member]
#}

{% block header %}
  {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}
  <div class="container col-lg-12">
    <div class="row">
      <div class="col-md-10">
        {% include 'components/group_profile.html' with { 'group' : current_group, 'is_thumbnail' : false } %}
      </div>
      <div class="col-md-2">
        {% if member_waiting_for_approval %}
          <p><button type="button" class="btn btn-default btn-block" disabled="disabled">Waiting approval</button> </p>
        {% elseif not member_belongs_to_group %}
          <p>
            <form class="form-inline" method="post" action="{{ path_for('group-join', {'group_id': current_group.getGroupId() } ) }}">
              <input type="hidden" name="member_id" value="{{ current_member.getMemberId() }}"/>
              <button type="submit" class="btn btn-success btn-block">Join</button>
            </form>
          </p>
        {% else %}
          <p>
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#createPageModal">Create Page</button>
          </p>
          <p>
          <form class="form-inline" method="post" action="{{ path_for('group-leave', {'group_id': current_group.getGroupId() } ) }}">
            <input type="hidden" name="member_id" value="{{ current_member.getMemberId() }}"/>
            <button type="submit" class="btn btn-default btn-block">Leave Group</button>
          </form>
          </p>
        {% endif %}
        {% if current_member.isAdmin() or current_group.getGroupOwner() == current_member.getMemberId() %}
          <p>
            <a class="btn btn-default btn-block" href="{{ path_for('group-manage', {'group_id' : current_group.getGroupId() }) }}">Manage Users</a>
          </p>
          <p>
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#editGroupModal">Edit Group</button>
          </p>
          <p>
            {# Edit Group picture #}
            <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#editGroupPictureModal">Edit Picture</button>
          </p>
          <p>
            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirmDeleteModal">Delete Group</button>
          </p>
        {% endif %}
      </div>
    </div>
    {% include 'components/notification_message.html' %}
    {% if member_belongs_to_group %}
      {% include 'components/group_pages_listview.html' with {'pages' : pages} %}
    {% endif %}
    {% if member_belongs_to_group %}
      {% include 'components/group_members_listview.html' with {'group_members' : group_members} %}
    {% endif %}
  </div>
  {% if current_member.isAdmin() or current_member.getMemberId() == current_group.getGroupOwner() %}
  <!-- Modal for Delete -->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalDeleteTitle">Confirm Delete</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you would like to delete this group?</p>
        </div>
        <div class="modal-footer">
            <form class="form-inline" action="{{ path_for('group-delete', {'group_id': current_group.getGroupId() }) }}" method="post">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <input type="hidden" name="group_id" value="{{ current_group.getGroupId() }}"/>
              <button type="submit" class="btn btn-primary">Yes</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Delete -->
  <!-- Modal for Edit -->
  <div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="modalEditTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" action="{{ path_for('group-update', {'group_id' : current_group.getGroupId() }) }}" method="post">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalEditTitle">Edit Group</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="group_title_form">Group Title</label>
              <input type="text" class="form-control" id="group_title_form" placeholder="Group Title"
                     name="{{ constant('Powon\\Services\\GroupService::GROUP_TITLE') }}" value="{{ current_group.getGroupTitle() }}"/>
            </div>
            <div class="form-group">
              <label for="group_description_form">Group Description</label>
              <textarea id="group_description_form" class="form-control" rows="5" placeholder="Enter the group description here"
                        name="{{ constant('Powon\\Services\\GroupService::GROUP_DESCRIPTION') }}">{{ current_group.getDescription() }}</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal Edit -->
  <!-- Modal for edit group picture -->
  <div class="modal fade" id="editGroupPictureModal" tabindex="-1" role="dialog" aria-labelledby="modalEditPictureTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form" action="{{ path_for('group-update-picture', {'group_id' : current_group.getGroupId() }) }}"
              method="post" autocomplete="off" enctype="multipart/form-data">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalEditPictureTitle">Edit Group Picture</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="group_picture_form">Picture</label>
              <input type="file" id="group_picture_form"
                     name="{{ constant('Powon\\Services\\GroupService::GROUP_PICTURE') }}"/>
              <p class="help-block">Select an image file to upload.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- end Modal for edit group picture -->
  {% endif %}
  <!-- Modal for Create Page -->
  {%
  include 'components/create_edit_page_modal.html' with
  {
    'component_id' : 'createPageModal',
    'mode': 'create',
    'current_group': current_group
  }
  %}
  <!-- End Modal Create Page -->
{% endblock %}
