{% extends "base.html" %}
{# Page for admin to access members edit page. #}

{% block header %}
{% if is_authenticated %}
{% include 'components/navbar.html' %}
{% else %}
{% include 'components/login_header.html' %}
{% endif %}
{% endblock %}

{% block content %}
<div class="container col-lg-12">
    <h2>Members</h2>
    {% if members|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of birth</th>
            <th>Update</th>
        </tr>
        </thead>
        {% for member in members %}
        <tr class="{{ cycle(['','pure-table-odd'] , loop.index) }}">
            <td>{{ member.getUsername() }}</td>
            <td>{{ member.getFirstName() }}</td>
            <td>{{ member.getLastName() }}</td>
            <td>{{ member.getUserEmail() }}</td>
            <td>{{ member.getDateOfBirth() }} </td>
            <td><a href="{{ path_for('edit-member', {'username': member.getUsername()}) }}">Edit</a></td>
        </tr>
        {% endfor %}
        </>
    </table>
    {% else %}
    <p>No current members</p>
    {% endif %}
    </div>
{% endblock %}