{% extends "base.html" %}
{# Page that contains a group.
Variables:
current_member: Member entity,
current_group: Group,
current_page: GroupPage
posts: [Post],
can_administer: bool (it's either the page owner, the group owner or an admin)
#}

{% block header %}
  {% include 'components/navbar.html' %}
  <div class="row">
    <div class="col-md-6">
      {% include 'components/group_profile.html' with {'group': current_group, 'is_thumbnail': true} %}
    </div>
  </div>
{% endblock %}
{% block content %}
  <h2 class="text-center">{{ current_page.getPageTitle() }}</h2>
  <div class="row">
    <div class="col-md-10">
      <div class="display-info-box">
        <p>{{ current_page.getPageDescription() }}</p>
        <p class="small">Created: {{ current_page.getDateCreated() }}</p>
      </div>
    </div>
    <div class="col-md-2">
      {# TODO show access type, manage access if allowed #}
      <p>
        {% if current_page.getPageAccessType() == constant('Powon\\Entity\\GroupPage::ACCESS_EVERYONE')  %}
        <label title="Everyone in the group has access to this page"
               class="label label-info center-block">Everyone
        </label>
        {% elseif current_page.getPageAccessType() == constant('Powon\\Entity\\GroupPage::ACCESS_PRIVATE') %}
          <label title="Only selected members have access to this page" class="label label-info center-block">Private
          </label>
        {% endif %}
      </p>
      {% if can_administer %}
        {# manage access, edit #}
        <p>
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#editPageModal">Edit Page</button>
        </p>
        <p>
          <button type="button" class="btn btn-danger btn-block">Delete page</button>
        </p>
        <p>
          <a href="{{ path_for('page-manage-access', {'page_id': current_page.getPageId()}) }}" class="btn btn-default btn-block">Manage access</a>
        </p>
      {% endif %}
    </div>
  </div>
  {% include 'components/notification_message.html' %}
  {# TODO include post_view here #}
  {% if can_administer %}
    <!-- Modal for Edit Page -->
    {%
    include 'components/create_edit_page_modal.html' with
    {
      'component_id' : 'editPageModal',
      'mode': 'update',
      'current_group': current_group,
      'current_page': current_page
    }
    %}
    <!-- End Modal Edit Page -->
  {% endif %}
{% endblock %}
