/* Style sheet for the main page*/

.white-text{
    color: white;
}

#top-container{
  padding-top: 20px;
}

#purple-top{
  background-color: purple;
}

.copy-left{
  display: inline-block;
  transform: scaleX(-1);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

footer .container .text-muted {
  margin: 20px 0;
}

footer .container img {
  margin: 8px 0;
}

html {
  position: relative;
  min-height: 100%;
}

@media(max-width: 768px ) {
  body > footer .container img {
    display: none;
  }
}

@media (max-width: 440px) {
  footer .container .text-muted {
    margin: 5px 0;
  }
}

body {
  /* Same as the footer height */
  margin-bottom: 60px;
}
