<div class="modal fade" id="composeModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Compose New Message </h4>
      </div>
      <div class="modal-body">
        <form role="form" method="POST" action="{{ path_for('send_message') }}">
          <div class="form-group">
            <label for="to">To:</label>
            <input type="text" class="form-control" id="to" name="to">
          </div>
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" id="subject" name="subject">
          </div>
          <div class="form-group">
            <label for="body">Body:</label>
            <textarea name="body" class="form-control"></textarea>
          </div>
      </div>
     <div class="modal-footer">
       <input class="btn btn-primary" type="submit" value="Send" name="send">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </form>
     </div>
   </div>
 </div>
</div>
