<h3>Inbox</h3>
{% if messages|length > 0 %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>From</th>
        <th></th>
        <th>Subject</th>
        <th>Time Sent</th>
    </tr>
    </thead>
    {% for message in messages %}
    {% set author = message.getAuthor() %}
    <tr class="{{ cycle(['','pure-table-odd'] , loop.index) }}"
        data-href="{{ path_for('see_message', {'id': message.getMessageId()}) }}">
        <td><img src="{{ author.getProfilePic() }}" class="img-circle" height="50px" width="50px"/> {{ author.getUsername() }}</td>
        <td></td>
        <td>{{ message.getSubject() }}</td>
        <td>{{ message.getTimestamp() }}</td>
    </tr>
    {% endfor %}
    </>
</table>
{% else %}
  <p>Your inbox is empty</p>
{% endif %}

<script src="/assets/js/message_table.js" defer></script>
