{#
variables:
post: Post
can_edit: bool
#}
<article>
  {% set author = post.getAuthor() %}
  <header>
    <div class="row">
      <div class="col-sm-2 col-xs-3">
        <a href="{{ path_for('view-post', {'post_id' : post.getPostId()}) }}">
          <img src="{{ author.getProfilePic() }}" class="img-circle" height="50px" width="50px"/>
        </a>
      </div>
      <div class="col-sm-8 col-xs-6">
        <h5>
          <a href="{{ path_for('view-post', {'post_id': post.getPostId()}) }}">{{ author.getUsername() }}</a>
        </h5>
      </div>
      {% if can_edit %}
        <div class="col-sm-2 col-xs-3 text-right">
          <a href="{{ path_for('update-post', {'post_id': post.getPostId()}) }}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a href="#" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>
      {% endif %}
    </div>
  </header>
  <div class="h-divider" role="separator"></div>
  <section class="row">
    <div class="col-sm-12">
      {% if post.getPostType() == constant('Powon\\Entity\\Post::TYPE_TEXT') %}
      <div>
        <p>{{ post.getPostBody() }}</p>
      </div>
      {% elseif post.getPostType() == constant('Powon\\Entity\\Post::TYPE_IMAGE') %}
        <div>
          <h6>{{ post.getPostBody() }}</h6>
        </div>
        <div>
          <img src="{{ post.getPathToResource() }}" class="img-responsive" />
        </div>
      {% elseif post.getPostType() == constant('Powon\\Entity\\Post::TYPE_VIDEO') %}
        <div>
          <h6>{{ post.getPostBody() }}</h6>
        </div>
        <div>
          {# Embed youtube video #}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ 'https://www.youtube.com/embed/' ~ post.getPathToResource() }}"></iframe>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
  <footer>
    <p class="small">
      Created by <a href="{{ path_for('profile', {'username': author.getUsername() }) }}">{{ author.getFirstName() ~ ' ' ~ author.getLastName() }}</a>
      on {{ post.getPostDateCreated() }}</p>
  </footer>
</article>
