<div class="row">
    <h3>Admin updates</h3>
    <div class="display-info-box col-lg-6 center-block">


        <form method="post" action=
                 "{{ path_for('edit-member-update', {'username': member.getUsername()}) }}">

            <div class="form-group">
                <label for="form_is_admin">Administrator Privileges</label><br/>
                {% if member.isAdmin() == true %}
                <label><input type="checkbox" name="{{ constant('Powon\\Services\\MemberService::FIELD_IS_ADMIN') }}" checked="checked"> Unauthorize admin </label>
                {% else %}
                <label><input type="checkbox" name="{{ constant('Powon\\Services\\MemberService::FIELD_IS_ADMIN') }}"> Authorize admin </label>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="form_status">Status</label><br/>
                <select class="form-control" name="{{ constant('Powon\\Services\\MemberService::FIELD_STATUS') }}">

                {% if member.getStatus() == 'A' %}
                    <option value="A" selected="checked">Active</option>
                    <option value="I">Inactive</option>
                    <option value="S">Suspended</option>

                {% elseif member.getStatus() == "I" %}
                    <option value="A">Active</option>
                    <option value="I" selected="checked">Inactive</option>
                    <option value="S">Suspended</option>

                {% elseif member.getStatus() == "S" %}
                    <option value="A">Active</option>
                    <option value="I">Inactive</option>
                    <option value="S" selected="checked">Suspended</option>

                {% endif %}
                </select>

            </div>

            <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-primary" value="Update"></button>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-default" href="/view-members">Cancel</a>
            </div>
        </div>
        </form>
    </div>
</div>
