<h3>Sent Messages</h3>
{% if messages|length > 0 %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Time Sent</th>
    </tr>
    </thead>
    {% for message in messages %}
    {% set author = message.getAuthor() %}
    {% set recipients = message.getRecipients() %}
    <tr data-href="{{ path_for('see_message', {'id': message.getMessageId()}) }}">
        <td>
          {{ recipients[0].getUsername() }}
          {% if recipients|length > 1 %}
            ... ({{ recipients|length }})
          {% endif %}
        </td>
        <td>{{ message.getSubject() }}</td>
        <td>{{ message.getTimestamp() }}</td>
    </tr>
    {% endfor %}
    </>
</table>
{% else %}
  <p>Your inbox is empty</p>
{% endif %}

<script src="/assets/js/message_table.js" defer></script>
