{# Table with event detail information. #}
{# Variables needed: events, [details, count]
current_group: Group
event: Event
#}
<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Event date</th>
            <th>Event time</th>
            <th>Event location</th>
            <th>Vote count</th>
            <th>Response</th>
        </tr>
        </thead>

        <tbody>
        {% for event in events %}
        <tr>
            <th>{{ event['details'].getEventDate() }}</th>
            <th>{{ event['details'].getEventTime() }}</th>
            <th>{{ event['details'].getEventLocation() }}</th>
            <th>{{event['count']}}</th>
            <th>
                <form action="{{ path_for('vote-event-detail', { 'event_id': event_id, 'group_id': current_group.getGroupId() }) }}" class="form-inline" method="post">
                    <input type="hidden" name="{{constant('Powon\\Services\\EventService::EVENT_DATE')}}" value = "{{event['details'].getEventDate()}}">
                    <input type="hidden" name="{{constant('Powon\\Services\\EventService::EVENT_TIME')}}" value = "{{event['details'].getEventTime()}}">
                    <input type="hidden" name="{{constant('Powon\\Services\\EventService::EVENT_LOCATION')}}" value = "{{event['details'].getEventLocation()}}">
                    <button type="submit" class="btn btn-default">Vote</button>
                </form>
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>