<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Event date</th>
            <th>Event time</th>
            <th>Event location</th>
        </tr>
        </thead>

        <tbody>
            <td><input type="text" class="form-control" name="event_date" placeholder="yyyy-mm-dd"></td>
            <td><input type="text" class="form-control" name="event_time" placeholder="hh:mm"></td>
            <td><input type="text" class="form-control" name="event_location"></td>
        </tbody>

    </table>
</div>