<div class="modal fade" id="profileCoreModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update your information</h4>
      </div>
      <div class="modal-body">
        <form action=  "{{ path_for('member_details_update', {'username': current_member.getUsername()}) }}"
            method="post" enctype="multipart/form-data">
          <input type="hidden" name="attribute" value="details" />
          <div class="form-group">
            <label for="form_email">Email</label>
            <input type="email" class="form-control" id="form_email"
                   name="{{ constant('Powon\\Services\\MemberService::FIELD_EMAIL') }}"
                   value="{{ current_member.getUserEmail() }}"/>
          </div>
          <div class="form-group">
            <label for="form_first_name">First Name</label>
            <input type="text" class="form-control" id="form_first_name"
                   name="{{ constant('Powon\\Services\\MemberService::FIELD_FIRST_NAME') }}"
                   value="{{ current_member.getFirstName() }}" />
          </div>
          <div class="form-group">
            <label for="form_last_name">Last Name</label>
            <input type="text" class="form-control" id="form_last_name"
                   name="{{ constant('Powon\\Services\\MemberService::FIELD_LAST_NAME') }}"
                   value="{{ current_member.getLastName() }}" />
          </div>
          <div class="form-group">
            <label for="form_dob">Date of Birth</label>
            <input type="date" class="form-control" id="form_last_name" placeholder="YYYY-MM-DD"
                   name="{{ constant('Powon\\Services\\MemberService::FIELD_DATE_OF_BIRTH') }}"
                   value="{{ current_member.getDateOfBirth() }}" />
          </div>
     </div>
     <div class="modal-footer">
         <input class="btn btn-primary"type="submit" value="Update" name="submit">
       </form>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>
