<div class="row">
  <div class="col-sm-12 center-block">
    <h3>Wish List</h3>
    {% if current_member.getMemberId() == member.getMemberId() %}
      {% if wishlist|length > 0 %}
      <ul>
        {% for wish in wishlist %}
          <li>{{ wish.getGiftName() }}</li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No items in wish list.</p>
      {% endif %}
    {% else %}
      <p>Give {{ member.getUsername() }} a gift!</p>
      {% if wishlist|length > 0  %}
        <div class="h-divider"></div>
        {% for gift in wishlist %}
          <div class="row">
            <div class="col-xs-6">
              {{ gift.getGiftName() }}
            </div>
            <div class="col-xs-6">
              <form action="{{ path_for('give-gift', {
                'gift_name' : gift.getGiftName(),
                'username': member.getUsername()
                }) }}"
                method="post" class="form-inline">
                  <button type="submit" class="btn btn-warning">Give</button>
              </form>
            </div>
          </div>
          <div class="h-divider"></div>
        {% endfor %}
      {% else %}
        <p>{{ member.getUsername() }} has no gifts in the wish list.</p>
      {% endif %}
    {% endif %}
  </div>
</div>



