<?php

return [
    'settings' => [
        'displayErrorDetails' => true, // set to false for production

        'renderer' => [
            'template_path' => __DIR__.'/../src/templates/',
        ],

        // Monolog settings
        'logger' => [
            'name' => 'slim-demo-app',
            'path' => __DIR__.'/../logs/app.log',
        ],

        // Database settings
        'db' => [
            'host' => 'localhost',
            'user' => 'sample_user',
            'pass' => 'password',
            'port' => '3306',
            'dbname' => 'sample_db'
        ],

        // session settings (should not be changed after there are users logged in)
        'session' => [
            'expiration' => 86400 // 1 day = 3600*24 = 86400 seconds
        ],

        // invoice settings (should not be changed after invoices have been issued without a migration plan)
        'invoice' => [
            'grace_period' => 30, // 30 days
            'subscription_period' => 12, // 12 months
            'subscription_fee' => 32.00
        ]
    ]
];
